@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
* 
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

.footer
{
    background-color: #062D3E;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    display: flex;
}

.footer-left
{
    display: flex;
    justify-content:space-around;
    width: 30%;
    padding: 1% 5%;
}

.image-footer
{
    width: 50px;
    padding-top: 30%;
}

.address
{
    color: #FFFFFF;
}

.footer-right
{
    display: flex;
    justify-content:space-around;
    width: 70%;
    align-self:center;
}

.contact-social
{
    display: flex;
    align-self: center;
}

.logo-images
{
    width: 40px;
}

.social-media
{
    color: #FFFFFF;
    padding-top: 5%;
}

footer
{
    font-family: 'Delius', cursive;
}