@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
.main-project
{
    background-color: #ffffff;
    color: #1F3A3E;
}
.header-image
{
    background-image: url('../images/lagoa-header2.jpg');
    height: 216px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: bottom;
}
.header-section
{
    height: 104px;
    font-size: 1.8em;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67B2D7;
    
}
.h1-project
{
    color: #ffffff;  
    font-family: 'Kaisei Decol', serif;
}
.why-ecoturismo
{
    padding: 2% 10%;
}
.h2-project,.p-project
{
    font-family: 'Kaisei Decol', serif;
    margin-bottom: 2%;
}

.h2-project
{
    font-size: 2em;
}
.p-project
{
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
}

.ecoway
{
    display: flex;
    justify-content:center;
}

.h2-ecoway
{
    background-color: #F8F1CA;
    border-radius: 50px;
    padding: 1%;
    font-family: 'Kaisei Decol', serif;
}
#h2-ecoway
{
    font-size: 2em;
}
.project-section
{
    display:flex;
    padding: 2% 10%;
    justify-content:space-between
}
.container-project
{
    display: flex;
    flex-direction:column;

}
.project-description
{   
    width: 365px;
    text-align:center;
    background-color: #F8F1CA;
    border-radius: 100px;
    padding: 7%;
    margin: 10% 0;
}
.img-projeto
{
    height: 700px;
}
.p-project-1
{
    font-size: 1.3em;
    font-family: 'Kaisei Decol', serif;
}
.bottom
{
    display: flex;
    justify-content:center;
}
.h2-bottom
{
    font-size: 2em;
}
.list
{
    background-color: #67B2D7;    
    margin: 2%;
    padding: 2% 5%;

}
.ul
{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    list-style-image: url(/images/list-item.png);
    column-gap: 20%;
}
.li
{
    font-size: 2em;
    vertical-align: middle;
}
.bottom-margin
{
    margin-bottom: 5%;
}
.p-list
{
    vertical-align:baseline;
    color: white;
}